.forgot-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 40px;
  }

  &__form {
    width: 100%;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: solid 1.2px #D3D8DC;
    margin-bottom: 25px;
    color: #060E1E;

    &::placeholder {
      color: #A1ABB5;
    }
  }

  &__submit {
    width: 100%;
    background-color: #316FEA;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 21px;
    padding: 13px 0;
  }

  &__cancel {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    line-height: 21px;
    padding: 13px 0;
    border: solid 1.2px #D3D8DC;
    color: #060E1E;
  }
}
